@model List<FiremanViewModel>
@section Scripts{
    <script src="~/js/fireman.js"></script>
}
<h1>
    All Fireman workers
</h1>


<table>
    <tr>
        <th>Worker Id</th>

        <th>Role</th>
        <th>Work Experience (years)</th>
    </tr>
    @foreach (var worker in Model)
    {
        <tr class="worker">
            <td>@worker.Id</td>

            <td>@worker.Role</td>
            <td>@worker.WorkExperYears</td>
            <td><input type="button" class="delete" data-name="@worker.Id" value="X" /></td>>
        </tr>
    }
</table>
