@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img style="height: 600px; width: 100%;" src="~/Image/city.jpg">

    <h1 class="display-4" style="margin-top: 20px">Welcome to the Utopia-City</h1>
</div>

<a class="nav-link text-dark"
   href="@Url.Action("Index", "HCEstablishments")">healthcare</a>