@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Education/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Education/css/style.css">
</head>
<body>

    <main>

        <!-- About section -->
        <section id="about" class="ptb_50">
            <div class="container">
                <div class="flexContainer">
                    <!-- блок с текстом -->
                    <div class="textWrapper">
                        <h1 class="intro_title font25">Discover a limitless <br> world of learning.</h1>
                        <p class="intro_subtext font12">
                            Latin words Sapere Aude mean Dare To Know.<br />
                            Roman poet Horatius used them to call <br />
                            the world for enlightenment. Hundreds <br />
                            of years later,in the 21st century, <br />
                            we are eager to raise this call and <br />
                            change the world with the power of knowledge.
                        </p>
                        <div class="btnWrapper">
                            <a target="_blank" href="#" class="btnLearnMore cursor">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services section -->
        <section id="section2" class="ptb_50">
            <div class="container">
                <div class="flexContainer">
                    <div class="section2_inner">
                        <!--  -->

                        <div class="img2Wrapper">
                            <img class="img2sec" src="~/Education/img/section2.png" alt="img2">
                        </div>

                        <!-- ----------------------------------- -->
                        <div class="titleWrapper">
                            <h2 class="sec2Title font25">We are a high-level data storage bank</h2>
                            <p class="sec2_text font12">
                                The place to store various data that you can access 
                                at any time through the internet  and where you can carry it. 
                                This very flexible storage area has a high level of security. 
                                To enter into your own data you must enter the password that 
                                you created when you registered in this Data Warehouse.
                            </p>
                        </div>
                        <!-- END -->
                        <!-- ----------------------------------- -->

                    </div>
                </div>
            </div>
        </section>

        <!-- section 3 -->

        <section id="features" class="ptb_50">
            <div class="container">
                <div class="flexContainer">
                    <div class="featTextWrapper">
                        <h2 class="feat_title font25">Features</h2>
                        <p class="feat_subtext font12">
                            Some of the features and advantages that we provide for those of you.
                        </p>
                    </div>

                    <div class="fourelem">
                        <div class="fourOne">
                            <div class="fourOneImg">                               
                                <img class="imgFourElem" src="~/Education/img/sec3FeatSearchData.png" alt="SearchData">
                            </div>

                            <div class="sec3TextWrapper">
                                <h2 class="fourelem_title">Lesson Plans</h2>
                                <p class="fourelem_subtext font12">
                                    Our ready-made lesson plans make it easy for 
                                     classroom educators and homeschoolers  
                                    to provide meaningful instruction to students. 
                                </p>

                                <a target="_blank" href="#" class="LearnMore font12 cursor">
                                    Learn more
                                    <i class="fa fa-arrow-right violetArrow" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                        <div class="fourTwo">
                            <div class="fourTwoImg">
                                <img class="imgFourElem" src="~/Education/img/sec3Feat24Hours.png" alt="24Hours">
                            </div>

                            <div class="sec3TextWrapper">
                                <h2 class="fourelem_title">Worksheets</h2>
                                <p class="fourelem_subtext font12">
                                    What does your student want to learn? <br /> 
                                    Our printables are a fun and easy way to 
                                    learn about multiplication, sight words, and much more!
                                </p>

                                <a target="_blank" href="#" class="LearnMore font12 cursor">
                                    Learn more
                                    <i class="fa fa-arrow-right violetArrow" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                        <div class="fourThree">
                            <div class="fourThreeImg">
                                <img class="imgFourElem" src="~/Education/img/sec3FeatPrintOut.png" alt="PrintOut">
                            </div>

                            <div class="sec3TextWrapper">
                                <h2 class="fourelem_title">Games</h2>
                                <p class="fourelem_subtext font12">
                                    We’ve got educational games galore: 
                                    Learn letters with Alphabet Cloud Catcher, and transform 
                                    study time into an adventure every day!
                                </p>

                                <a target="_blank" href="#" class="LearnMore font12 cursor">
                                    Learn more
                                    <i class="fa fa-arrow-right violetArrow" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                        <div class="fourFour">
                            <div class="fourFourImg">
                                <img class="imgFourElem" src="~/Education/img/sec3FeatSecurityCode.png" alt="SecurityCode">
                            </div>

                            <div class="sec3TextWrapper">
                                <h2 class="fourelem_title">Activities</h2>
                                <p class="fourelem_subtext font12">
                                    Our expert-designed activities bring 
                                    hundreds of topics to life through 
                                    science experiments, engaging writing 
                                    prompts, creative art projects, and more.
                                </p>

                                <a target="_blank" href="#" class="LearnMore font12 cursor">
                                    Learn more
                                    <i class="fa fa-arrow-right violetArrow" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </main>

    <footer class="footer ptb_50">
        <div class="container">
            <div class="flexContainer">

                <div class="foot2">
                    <div class="footLogo">
                        <div class="logoWrapper">
                            <a href="#">
                                <img src="~/Education/img/HeaderLogo.png" alt="DataWarehouse">
                            </a>
                            <p class="footLogoText">Education</p>
                        </div>

                    </div>

                    <div class="footerNavsWrapper">

                        <nav class="footerNav font12">
                            <h6 class="footTitle font12">About</h6>
                            <menu class="menu">
                                <li>
                                    <a href="#about" class="navLink whiteLink">Profile</a>
                                </li>
                                <li>
                                    <a href="#features" class="navLink whiteLink">Features</a>
                                </li>
                                <li>
                                    <a href="#" class="navLink whiteLink">Careers</a>
                                </li>
                                <li>
                                    <a href="#" class="navLink whiteLink">DW News</a>
                                </li>
                            </menu>
                        </nav>

                        <nav class="footerNav font12">
                            <h6 class="footTitle font12">Help</h6>
                            <menu class="menu">
                                <li>
                                    <a href="#" class="navLink whiteLink">Support</a>
                                </li>
                                <li>
                                    <a href="#" class="navLink whiteLink">Sign up</a>
                                </li>
                                <li>
                                    <a href="#" class="navLink whiteLink">Guide</a>
                                </li>
                                <li>
                                    <a href="#" class="navLink whiteLink">Reports</a>
                                </li>
                                <li>
                                    <a href="#" class="navLink whiteLink">Q&A</a>
                                </li>
                            </menu>
                        </nav>

                        <nav class="iconsNav">
                            <h6 class="footTitle font12">Social Media</h6>
                            <div class="icons">
                                <div class="circle cursor">
                                    <i class="fa fa-facebook icon cursor" aria-hidden="true"></i>
                                </div>
                                <div class="circle cursor">
                                    <i class="fa fa-twitter icon" aria-hidden="true"></i>
                                </div>
                                <div class="circle cursor">
                                    <i class="fa fa-instagram icon" aria-hidden="true"></i>
                                </div>

                            </div>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</body>
</html>

@*


    <!--  section 4 TESTIMONIALS -->

    <section id="testimonials" class="ptb_50">
        <div class="container">
            <div class="flexContainer">
                <div class="section4">
                    <div class="sec4TitleWrapper displayStyle">
                        <h2 class="font25">NEWS</h2>
                    </div>
                    <div class="cardSection displayStyle">
                        <div class="card" style="width: 18rem;">
                            <img src="~/Image/img3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk
                                    of the card's content. Some quick example text to build on the card title and make up the bulk
                                    of the card's content.
                                </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="~/Image/img4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="~/Image/img7.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

*@
