@{
    ViewData["Title"] = "Home";
}

    <!-- About section -->
    <section id="about" class="ptb_50">
        <div class="container">
            <div class="flexContainer">
                <!-- блок с текстом -->
                <div class="textWrapper">
                    <h1 class="intro_title font25">Discover a limitless <br> world of learning.</h1>
                    <p class="intro_subtext font12">
                        Latin words Sapere Aude mean Dare To Know.<br />
                        Roman poet Horatius used them to call <br />
                        the world for enlightenment. Hundreds <br />
                        of years later,in the 21st century, <br />
                        we are eager to raise this call and <br />
                        change the world with the power of knowledge.
                    </p>
                    <div class="btnWrapper">
                        <a target="_blank" href="#" class="btnLearnMore cursor">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section features -->

    <section id="features" class="ptb_50">
        <div class="container">
            <div class="flexContainer">
                <div class="featTextWrapper">
                    <h2 class="feat_title font25">Features</h2>
                    <p class="feat_subtext font12">
                        Some of the features and advantages that we provide for those of you.
                    </p>
                </div>

                <div class="fourelem">
                    <div class="fourOne">
                        <div class="fourOneImg">
                            <img class="imgFourElem" src="/Education/img/main/sec3FeatSearchData.png" alt="SearchData">
                        </div>

                        <div class="sec3TextWrapper">
                            <h2 class="fourelem_title">Lesson Plans</h2>
                            <p class="fourelem_subtext font12">
                                Our ready-made lesson plans make it easy for
                                classroom educators and homeschoolers
                                to provide meaningful instruction to students.
                            </p>

                            <a target="_blank" href="#" class="LearnMore font12 cursor">
                                Learn more
                                <i class="fa fa-arrow-right violetArrow" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="fourTwo">
                        <div class="fourTwoImg">
                            <img class="imgFourElem" src="/Education/img/main/sec3Feat24Hours.png" alt="24Hours">
                        </div>

                        <div class="sec3TextWrapper">
                            <h2 class="fourelem_title">Worksheets</h2>
                            <p class="fourelem_subtext font12">
                                What does your student want to learn? <br />
                                Our printables are a fun and easy way to
                                learn about multiplication, sight words, and much more!
                            </p>

                            <a target="_blank" href="#" class="LearnMore font12 cursor">
                                Learn more
                                <i class="fa fa-arrow-right violetArrow" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="fourThree">
                        <div class="fourThreeImg">
                            <img class="imgFourElem" src="/Education/img/main/sec3FeatPrintOut.png" alt="PrintOut">
                        </div>

                        <div class="sec3TextWrapper">
                            <h2 class="fourelem_title">Games</h2>
                            <p class="fourelem_subtext font12">
                                We’ve got educational games galore:
                                Learn letters with Alphabet Cloud Catcher, and transform
                                study time into an adventure every day!
                            </p>

                            <a target="_blank" href="#" class="LearnMore font12 cursor">
                                Learn more
                                <i class="fa fa-arrow-right violetArrow" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="fourFour">
                        <div class="fourFourImg">
                            <img class="imgFourElem" src="/Education/img/main/sec3FeatSecurityCode.png" alt="SecurityCode">
                        </div>

                        <div class="sec3TextWrapper">
                            <h2 class="fourelem_title">Activities</h2>
                            <p class="fourelem_subtext font12">
                                Our expert-designed activities bring
                                hundreds of topics to life through
                                science experiments, engaging writing
                                prompts, creative art projects, and more.
                            </p>

                            <a target="_blank" href="#" class="LearnMore font12 cursor">
                                Learn more
                                <i class="fa fa-arrow-right violetArrow" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>