@model UniversityViewModel


<h1>@ViewData["Title"]</h1>

<div class="container">
    <h1 style="display: flex; justify-content: center; align-items: center;">@Model.Name</h1>
    <p>@Model.Description</p>
    <hr />
    <p>@Model.Address</p>

    @*
        Можно сюда добавить стили
        1) добавить иконку универа
        но пока все это не критично, полную информацию об университете показывает*@
</div>
