@{ 
    ViewData["Title"] = "Thank you";
    Layout = "~/Views/Shared/Airport/_LayoutAirport.cshtml";
}

@section Styles {
    <link href="~/Airport/css/BookingConfirmation/styles.css" rel="stylesheet"/>
}
<section>
    <h1>
        Спасибо за покупку!
    </h1>
    <a class="btn btn-primary" href="/">На главную</a>
</section>

