body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    color: #212353;
}

a{
    text-decoration: none;
    color: #212353;
}

/* Container */

.container{
    width: 100%;
    max-width: 1190px;
    margin: auto;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
}

.ptb_50{
    padding: 20px 0;
}

/* section 1 ABOUT -INTRO */

#about .container{
    background: url(../img/main/section1.png) no-repeat bottom right;
    background-size: 70%;
}

.textWrapper{
    max-width: 45%;
}

.intro_title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
}

.intro_subtext{
    padding-top: 20px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.btnWrapper{
    padding-top: 50px;
}

.btnLearnMore{   
    display: inline-block;
    padding: 15px 2.5rem;
    background-color: rgb(129, 6, 129);
    border-radius: 50px;
    color: #ffffff;    
}

.btnLearnMore:hover{    
    background: #f6f882;
    border-radius: 50px;
    color: #220469;
}


/* section features */

#features{
    width: 100%;
} 


.featTextWrapper{
    text-align: center;
    width: 100%;
    padding: 30px;
} 

.feat_title{
    font-size: 40px;
    font-weight: bold;
}

.feat_subtext{
    font-size: 18px;
    margin-top: 45px; 
}

/* section_3 FOUR ELEMENTS */

.fourelem{
    display: flex;
    flex-wrap: wrap;
}

.sec3TextWrapper{
    padding: 20px 0 0 35px;
    color: #4B5D68;
}

.fourelem_title{
    width: 100%;
    font-size: 24px;
    line-height: 1;
}

.fourelem_subtext{
    padding: 20px 30px 0 0px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.imgFourElem{
    padding-left: 70px;    
}

.fourOneImg,.fourTwoImg, .fourThreeImg, .fourFourImg{
    display: flex;
    align-items: center;
}

.fourOne, .fourTwo, .fourThree, .fourFour{
    display: flex;
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 20px;
    padding: 50px 0;
}

.fourOne{    
    background: url(../img/main/sec3FeatRectangle1.png) no-repeat bottom right;
}

.fourTwo {
    background: url(../img/main/sec3FeatRectangle2.png) no-repeat bottom right;
}

.fourThree {
    padding-top: 50px;
    background: url(../img/main/sec3FeatRectangle3.png) no-repeat bottom right;
}

.fourFour{
    padding-top: 50px;    
    background: url(../img/main/sec3FeatRectangle4.png) no-repeat bottom right;  
}

.LearnMore{
    font-weight: bold;
}


/* media */

@media screen and (max-width: 426px){

    .container{
        padding: 0 15px;
        width: 100%;
    }

    .ptb_50{
        padding: 20px 0 0 0;
    }
       
    #about{
        max-width: 100%;        
    }

    #about .container{
        background: url(../img/main/section1.png) no-repeat bottom right 35px;
        background-size: 50%;
    }
    
    .textWrapper, .intro_title, .intro_subtext, .sec2_text{
        max-width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    .font25{
        font-size: 25px;
    }

    .font12{
        font-size: 12px;
    }

    .btnWrapper {
        padding-top: 20px;
    }

    .btnLearnMore{
        display: inline-block;
        padding: 8px 1rem;
        background-color: rgb(129, 6, 129);
        border-radius: 30px;
        font-size: 12px;
    
        color: #ffffff; 
    }

    /* section features */

    .feat_subtext{
        padding: 20px 0;
        max-width: 100%;
        margin: 0;
    }

    .imgFourElem{
        width: 150px;
        padding: 0;
    }
    
    .fourOne, .fourTwo, .fourThree, .fourFour{  
        margin: 0;
        margin-bottom: 20px;
        padding: 20px 0;
        max-width: 100%;
        flex: 0 0 100%;
        background-size: cover;        
    }

    .sec3TextWrapper{
        padding: 0 0 0 20px;
    }

    .fourelem_title{
        font-size: 15px;
    }

    .fourelem_subtext{
        margin: 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 769px) {

    .container{
        padding: 0 15px;
        width: 100%;
    }

    .ptb_50{
        padding: 20px 0 0 0;
    }

    
    #about{
        max-width: 100%;        
    }

    #about .container{
        background: url(../img/main/section1.png) no-repeat bottom right 15px;
        background-size: 50%;
    }
    
    .textWrapper, .intro_title, .intro_subtext, .sec2_text{
        max-width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    .font25{
        font-size: 40px;
    }

    .font12{
        font-size: 14px;
    }

    .btnWrapper {
        padding-top: 20px;
    }

    .btnLearnMore{
        display: inline-block;
        padding: 8px 1rem;
        background-color: rgb(129, 6, 129);
        border-radius: 30px;
        font-size: 12px;
    
        color: #ffffff; 
    }

    /* section features */

    .feat_subtext{
        padding: 20px 0;
        max-width: 100%;
        margin: 0;
    }

    .imgFourElem{
        width: 150px;
        padding: 0;
    }
    
    .fourOne, .fourTwo, .fourThree, .fourFour{  
        margin: 0;
        padding: 0 0 15px 15px;
        margin-bottom: 20px;
        max-width: 100%;
        flex: 0 0 100%;
        background-size: cover; 
        justify-content: space-between;       
    }

    .sec3TextWrapper{
        padding: 20px 35px 0 0;
    }
    

    .fourelem_title{
        font-size: 15px;
    }

    .fourelem_subtext{
        margin: 0;
    }  
}