<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" style="height: 600px; width: 100%;" src="~/Image/CBS_Images/cbs_main.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">

                    <div id="modal-custom">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <br>
                            <h5 style="color:white;border:solid 1px;padding:7px;background-color:#21242a;">
                                @ViewData["userName"], welcome to the City Bus System page!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row mt-5">
    <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
        <img class="rounded-circle" src="~/Image/CBS_Images/cbs_order.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Our buses</h2>        
        <a type="button" class="btn btn-dark" href="@Url.Action("BusParkPage", "Bus")">Details</a>
    </div>
    <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
        <img class="rounded-circle" src="~/Image/CBS_Images/cbs_routes.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Our routes</h2>        
        <a type="button" class="btn btn-dark" href="@Url.Action("RoutesMapPage", "Bus")">Details</a>
    </div>
    <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center">
        <img class="rounded-circle" src="~/Image/CBS_Images/cbs_info.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Make order</h2>        
        <a type="button" class="btn btn-dark" href="@Url.Action("OrderPage", "Order")">Details</a>
    </div>


</div>
