
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <h1>Отчет</h1>
            <p>Учебный год только что завершился</p>
            <p>Посмотрите список студентов и учеников</p>
            <p>
                В школах успешно завершился процесс перевода с класса в класс, а 11 классы сдали
                ЕНТ, получили результаты тестирования и сертификат о среднем образований
            </p>
            <p>
                Так же во всех университетах студенты перешли на следующий курс, а 4 курсники получили
                сертификат о неполном высшем образований
            </p>
        </div>
    </div>
</div>
