<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div>
        <h1 class="display-4 font-italic">Order check</h1>
        <h4 class="font-italic">We are sorry, all buses ary reserved, please, try later.</h4>

    </div>
</div>

