@model BasePolicemanShiftVM

    <p>Date Start: </p>
    <input type="date" class="form-control" name="startDate">
    <p>Date End: </p>
    <input type="date" class="form-control" name="endDate">
    <button class="btn btn-success" id="send-shift">Set</button>