@{
    ViewData["Title"] = "FiremanTeams";
    Layout = "~/Views/Fireman/_LayoutFireman.cshtml";
}
@model WebApplication1.Models.FiremanModels.FiremanTeamViewModel
@using WebApplication1.EfStuff.Model.Firemen 

<h1>New Team Information</h1>

<form action="@Url.Action("CreateFiremanTeam", "FiremanTeam")" method="post">
    <div>
        Team Name : @Html.TextBoxFor(x => x.TeamName)
    </div>
    <div>
        Work Shift :
        <select asp-for="Shift"
                class="form-control"
                asp-items="Html.GetEnumSelectList<WorkShift>()" style="width: 30%">
            <option>Select Work Shift Time ...</option>
        </select>
        <span asp-validation-for="Shift" class="text-danger"></span>
    </div>
    <div>
        Team State :
        <select asp-for="TeamState"
                class="form-control"
                asp-items="Html.GetEnumSelectList<TeamState>()" style="width: 30%">
            <option>Select State ...</option>
        </select>
        <span asp-validation-for="TeamState" class="text-danger"></span>
        
    </div>
    <div>
        Truck Id : @Html.TextBoxFor(x => x.TruckId)
    </div>
    <div>
        <input type="submit" value="Add new team">
    </div>
</form>